.gallery-section {

    padding:70px 6%;

    background:#151515;

    color:white;

}


.gallery-section h2 {

    text-align:center;

    font-size:45px;

}


.gallery-section p {

    text-align:center;

    margin:15px 0 50px;

    color:#ccc;

    font-size:20px;

}


.gallery-grid {

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:25px;

}

@media(max-width: 768px) {

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

}
